// Palette from clrs.cc
$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$maroon: #85144B;
$fuchsia: #F012BE;
$purple: #B10DC9;
$black: #111;
$gray: #AAA;
$silver: #DDD;
$white: #FEFEFE;

// Colors
$color_bg: #252830;
$color_font: #cfd2da;
$color_primary: #1ca8dd;
$color_primary_light: #373a41;
$color_primary_dark: #252830;
$color_secondary: hsla(160, 76, 45, 1); // #A5D7C3
$color_secondary_light: hsla(160, 71, 40, 1);
$color_secondary_dark: hsla(160, 81, 50, 1);
$color_info: $teal;
$color_alert: $red;
$color_warning: $orange;
$color_success: $green;
$color_fail: $red;
$color_cancel: $gray;

// Fonts
//$fontDefault: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;

// Font sizes
$fsMicro:   11px;
$fsSmall:   12px;
$fsDefault: 14px;
$fsMedium:  16px;
$fsBig:     18px;
$fsH6:      20px;
$fsH5:      24px;
$fsH4:      28px;
$fsH3:      32px;
$fsH2:      36px;
$fsH1:      48px;
$fsGiga:    72px;