@import 'variables';
@import 'mixins';
@import 'sidebar';

$headerSize: 80px;

body, html {
    background-color: $color_bg;
    color: $black;
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &.orientation-row {
        flex-direction: row;
    }

    &.orientation-column {
        .slide {
            margin-bottom: $headerSize;
        }
    }

    > * {
        flex: 1 1 auto;
    }
    > header {
        flex-grow: 0;
    }
    > span, > div > div > span {
        height: 100%;

        > div > div {
            height: 100% !important;
        }
    }
}

/**
* HEADER / MENU
*/
header {
    background-color: $color_primary_light;
    outline: 1px solid $color_primary;
    color: $white;

    &.orientation-column {
        .logo {
            margin: 0;
            padding: 0 15px;
        }
    }

    &.orientation-row {
        .logo {
            margin: 0;
            padding: 15px 0;
        }

        .btn {
            border-left: none;
            border-top: 1px solid $color_primary_dark;

            &:last-child {
                border-right: none;
                border-bottom: 1px solid $color_primary_dark;
            }
        }
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        z-index: 100;

        &.orientation-row {
            flex-direction: column;
        }
    }

    .logo {
        line-height: $headerSize;
        text-align: center;
    }

    .btn {
        display: block;
        width: $headerSize;
        height: $headerSize;
        line-height: $headerSize;
        padding: 0;
        border-radius: 0;
        text-align: center;

        background-color: $color_primary_light;
        border: none;
        border-left: 1px solid $color_primary_dark;

        &:last-child {
            border-right: 1px solid $color_primary_dark;
        }

        &.active, &:hover {
            background-color: $color_primary;
        }
    }
}

// Slides and sliders
.slide {
    padding: 30px;
}

.mini-slider {
    padding: 0 !important;
}

//
//.btn {
//    padding: 10px 30px;
//    color: $white;
//    background-color: $blue;
//    border: 1px solid $navy;
//    border-radius: 3px;
//
//    &-success {
//        background-color: $color_success;
//        border-color: $olive;
//    }
//    &-cancel {
//        color: $color_fail;
//        background-color: transparent;
//        border-color: $color_cancel;
//    }
//}

/** Transition animations */
.appear {
    &-enter {
        opacity: 0;

        &.appear-enter-active {
            opacity: 1;
            transition: opacity ease-out 500ms;
        }
    }

    &-leave {
        opacity: 1;

        &.appear-leave-active {
            opacity: 0;
            transition: opacity ease-out 500ms;
        }
    }
}

/* Animation */
$transitionDuration: 500ms;
.swipe {
    &-leave {
        transform: translate3d(0, 0, 0);

        &.swipe-leave-active {
            transform: translate3d(-100%, 0, 0);
            transition: transform ease-out $transitionDuration;
        }
    }

    &-enter {
        transform: translate3d(100%, 0, 0);

        &.swipe-enter-active {
            transform: translate3d(0, 0, 0);
            transition: transform ease-out $transitionDuration;
        }
    }
}

.reverseSwipe {
    &-leave {
        transform: translate3d(0, 0, 0);

        &.reverseSwipe-leave-active {
            transform: translate3d(100%, 0, 0);
            transition: transform ease-out $transitionDuration;
        }
    }

    &-enter {
        transform: translate3d(-100%, 0, 0);

        &.reverseSwipe-enter-active {
            transform: translate3d(0, 0, 0);
            transition: transform ease-out $transitionDuration;
        }
    }
}